[Unit]
Description=service control
Wants=network-online.target
After=network-online.target

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
User=root
Group=root
Type=simple
RestartSec=5s
ExecStart=/usr/local/bin/service_control_amd64 -beforestart /usr/local/bin/beforestart.sh -beforestop /usr/local/bin/beforestop.sh -file /usr/local/bin/conf.d/service_control.txt -port 8088

SyslogIdentifier=service_control
Restart=always

[Install]
WantedBy=multi-user.target

